@media (max-width: 767px) {
    .wm-app .app-livelist.active-list.plans-list>.list-group.app-horizontal-list>.app-list-item .plan-body {
        border-color: rgba(88, 70, 223, 0.1);
        border-style: solid;
        border-width: 1px 0px 0px;
        height: 350px;
        margin-top: 20px;
        overflow: auto;
        padding-top: 20px;
    }
}
